<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>#}
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
