{% extends 'base.html.twig' %}

{% block title %}

Index Page

{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('/css/style.css') }}" rel="stylesheet" />

{% endblock %}

{% block body %}



    {#<div class="jumbotron title text-center">#}
        {#<span class="font1">Shopping Planner</span>#}
        {#<p><span class="font2">Aiding you and your roommates!</span></p>#}

    {#</div>#}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Why shopping planner?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>How is it usefull?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Additional funcionality of Shopping Planner</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>

{% endblock %}


