{% extends 'base.html.twig' %}

{% block title %}

Index Page

{% endblock %}


{% block stylesheets %}

    <link href="{{ asset('/css/style.css') }}" rel="stylesheet" />

{% endblock %}

{% block body %}



    {#<div class="jumbotron title text-center">#}
        {#<span class="font1">Shopping Planner</span>#}
        {#<p><span class="font2">Aiding you and your roommates!</span></p>#}

    {#</div>#}

    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="border-right: 2px solid black">
                <h3>Why shopping planner?</h3>
                <ul>
                    <li>Easy to use and intuitive</li>
                    <li>Very fast setup</li>
                    <li>Create your group</li>
                    <li>Add your friends</li>
                </ul>
            </div>
            <div class="col-sm-4" style="border-right: 2px solid black">
                <h3>How is it usefull?</h3>
                <p>If you live with your friends Shopping Planner is a great tool to keep track of shopping.</p>
                <p>With shopping planner you will no longer have trouble planning who has to buy what.</p>
                <p></p>
            </div>
            <div class="col-sm-4">
                <h3>Additional funcionality</h3>
                <ul>
                    <li>Send sms notifications to your friends</li>
                    <li>Set reminders</li>
                    <li>Find nearest shops on an integrated map</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


