{% extends 'base.html.twig' %}

{% block title %}


{% endblock %}


{% block javascripts %}

    <!--<script src = "src/AppBundle/Resources/js/map.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/app/js/map.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOPK54c9GmS45KXfWZQJ-vQizsdvFNQ10&libraries=places&callback=initMap" async defer></script>


{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        Shop's list
                    </li>

                </ul>
                <br>
                <div class="input-group">
                    <input id="searchBar" type="text" class="form-control" placeholder="Search For..">
                    <span class="input-group-btn">
                         <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                         </button>
                    </span>
                </div>
            </div>

            <div id="map" class="col-sm-9">
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19013.340007155082!2d14.495930994391646!3d53.43865313977846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa093313465453%3A0x59ff236aee864f56!2sLidl!5e0!3m2!1sen!2spl!4v1520939125923" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>-->
            </div>
        </div>
    </div>


{% endblock %}

{% block slajder_container %}
    <div class="subpages_picture  text-center">
        <span class="font1">Shopping Planner</span>
    </div>
{% endblock %}

{% block slider %}

{% endblock %}


