{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
