

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 3px;
    color: #555555;
}

.title{
    background-image: url(vegetables.jpg);
    /*background-position-y: 27%;
    background-position-x: 50%;*/
    color: black;
}

.font1{
    font-size: 60px;
    /*text-shadow: -1px 0 white, 0 2px white, 0px 0 white, 0 -1px white;*/
    font-weight: bold;
}

.font2{
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    color: black;
}

#map {
    height: 100%;
  }

#slider_container{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1240px;
    height: 442px;
    overflow: hidden;
}

.slider_pictures{
    background-repeat: no-repeat;
    background-size: 300px 100px;
}



